.#{$md-prefix}-3d-rotation:before {
	content: "\e600";
}
.#{$md-prefix}-access-alarm:before {
	content: "\e601";
}
.#{$md-prefix}-access-alarms:before {
	content: "\e602";
}
.#{$md-prefix}-access-time:before {
	content: "\e603";
}
.#{$md-prefix}-accessibility:before {
	content: "\e604";
}
.#{$md-prefix}-account-balance:before {
	content: "\e605";
}
.#{$md-prefix}-account-balance-wallet:before {
	content: "\e606";
}
.#{$md-prefix}-account-box:before {
	content: "\e607";
}
.#{$md-prefix}-account-child:before {
	content: "\e608";
}
.#{$md-prefix}-account-circle:before {
	content: "\e609";
}
.#{$md-prefix}-adb:before {
	content: "\e60a";
}
.#{$md-prefix}-add:before {
	content: "\e60b";
}
.#{$md-prefix}-add-alarm:before {
	content: "\e60c";
}
.#{$md-prefix}-add-box:before {
	content: "\e60d";
}
.#{$md-prefix}-add-circle:before {
	content: "\e60e";
}
.#{$md-prefix}-add-circle-outline:before {
	content: "\e60f";
}
.#{$md-prefix}-add-shopping-cart:before {
	content: "\e610";
}
.#{$md-prefix}-add-to-photos:before {
	content: "\e611";
}
.#{$md-prefix}-adjust:before {
	content: "\e612";
}
.#{$md-prefix}-airplanemode-off:before {
	content: "\e613";
}
.#{$md-prefix}-airplanemode-on:before {
	content: "\e614";
}
.#{$md-prefix}-alarm:before {
	content: "\e615";
}
.#{$md-prefix}-alarm-add:before {
	content: "\e616";
}
.#{$md-prefix}-alarm-off:before {
	content: "\e617";
}
.#{$md-prefix}-alarm-on:before {
	content: "\e618";
}
.#{$md-prefix}-album:before {
	content: "\e619";
}
.#{$md-prefix}-android:before {
	content: "\e61a";
}
.#{$md-prefix}-announcement:before {
	content: "\e61b";
}
.#{$md-prefix}-apps:before {
	content: "\e61c";
}
.#{$md-prefix}-archive:before {
	content: "\e61d";
}
.#{$md-prefix}-arrow-back:before {
	content: "\e61e";
}
.#{$md-prefix}-arrow-drop-down:before {
	content: "\e61f";
}
.#{$md-prefix}-arrow-drop-down-circle:before {
	content: "\e620";
}
.#{$md-prefix}-arrow-drop-up:before {
	content: "\e621";
}
.#{$md-prefix}-arrow-forward:before {
	content: "\e622";
}
.#{$md-prefix}-aspect-ratio:before {
	content: "\e623";
}
.#{$md-prefix}-assessment:before {
	content: "\e624";
}
.#{$md-prefix}-assignment:before {
	content: "\e625";
}
.#{$md-prefix}-assignment-ind:before {
	content: "\e626";
}
.#{$md-prefix}-assignment-late:before {
	content: "\e627";
}
.#{$md-prefix}-assignment-return:before {
	content: "\e628";
}
.#{$md-prefix}-assignment-returned:before {
	content: "\e629";
}
.#{$md-prefix}-assignment-turned-in:before {
	content: "\e62a";
}
.#{$md-prefix}-assistant-photo:before {
	content: "\e62b";
}
.#{$md-prefix}-attach-file:before {
	content: "\e62c";
}
.#{$md-prefix}-attach-money:before {
	content: "\e62d";
}
.#{$md-prefix}-attachment:before {
	content: "\e62e";
}
.#{$md-prefix}-audiotrack:before {
	content: "\e62f";
}
.#{$md-prefix}-autorenew:before {
	content: "\e630";
}
.#{$md-prefix}-av-timer:before {
	content: "\e631";
}
.#{$md-prefix}-backspace:before {
	content: "\e632";
}
.#{$md-prefix}-backup:before {
	content: "\e633";
}
.#{$md-prefix}-battery-20:before {
	content: "\e634";
}
.#{$md-prefix}-battery-30:before {
	content: "\e635";
}
.#{$md-prefix}-battery-50:before {
	content: "\e636";
}
.#{$md-prefix}-battery-60:before {
	content: "\e637";
}
.#{$md-prefix}-battery-80:before {
	content: "\e638";
}
.#{$md-prefix}-battery-90:before {
	content: "\e639";
}
.#{$md-prefix}-battery-alert:before {
	content: "\e63a";
}
.#{$md-prefix}-battery-charging-20:before {
	content: "\e63b";
}
.#{$md-prefix}-battery-charging-30:before {
	content: "\e63c";
}
.#{$md-prefix}-battery-charging-50:before {
	content: "\e63d";
}
.#{$md-prefix}-battery-charging-60:before {
	content: "\e63e";
}
.#{$md-prefix}-battery-charging-80:before {
	content: "\e63f";
}
.#{$md-prefix}-battery-charging-90:before {
	content: "\e640";
}
.#{$md-prefix}-battery-charging-full:before {
	content: "\e641";
}
.#{$md-prefix}-battery-full:before {
	content: "\e642";
}
.#{$md-prefix}-battery-std:before {
	content: "\e643";
}
.#{$md-prefix}-battery-unknown:before {
	content: "\e644";
}
.#{$md-prefix}-beenhere:before {
	content: "\e645";
}
.#{$md-prefix}-block:before {
	content: "\e646";
}
.#{$md-prefix}-bluetooth:before {
	content: "\e647";
}
.#{$md-prefix}-bluetooth-audio:before {
	content: "\e648";
}
.#{$md-prefix}-bluetooth-connected:before {
	content: "\e649";
}
.#{$md-prefix}-bluetooth-disabled:before {
	content: "\e64a";
}
.#{$md-prefix}-bluetooth-searching:before {
	content: "\e64b";
}
.#{$md-prefix}-blur-circular:before {
	content: "\e64c";
}
.#{$md-prefix}-blur-linear:before {
	content: "\e64d";
}
.#{$md-prefix}-blur-off:before {
	content: "\e64e";
}
.#{$md-prefix}-blur-on:before {
	content: "\e64f";
}
.#{$md-prefix}-book:before {
	content: "\e650";
}
.#{$md-prefix}-bookmark:before {
	content: "\e651";
}
.#{$md-prefix}-bookmark-outline:before {
	content: "\e652";
}
.#{$md-prefix}-border-all:before {
	content: "\e653";
}
.#{$md-prefix}-border-bottom:before {
	content: "\e654";
}
.#{$md-prefix}-border-clear:before {
	content: "\e655";
}
.#{$md-prefix}-border-color:before {
	content: "\e656";
}
.#{$md-prefix}-border-horizontal:before {
	content: "\e657";
}
.#{$md-prefix}-border-inner:before {
	content: "\e658";
}
.#{$md-prefix}-border-left:before {
	content: "\e659";
}
.#{$md-prefix}-border-outer:before {
	content: "\e65a";
}
.#{$md-prefix}-border-right:before {
	content: "\e65b";
}
.#{$md-prefix}-border-style:before {
	content: "\e65c";
}
.#{$md-prefix}-border-top:before {
	content: "\e65d";
}
.#{$md-prefix}-border-vertical:before {
	content: "\e65e";
}
.#{$md-prefix}-brightness-1:before {
	content: "\e65f";
}
.#{$md-prefix}-brightness-2:before {
	content: "\e660";
}
.#{$md-prefix}-brightness-3:before {
	content: "\e661";
}
.#{$md-prefix}-brightness-4:before {
	content: "\e662";
}
.#{$md-prefix}-brightness-5:before {
	content: "\e663";
}
.#{$md-prefix}-brightness-6:before {
	content: "\e664";
}
.#{$md-prefix}-brightness-7:before {
	content: "\e665";
}
.#{$md-prefix}-brightness-auto:before {
	content: "\e666";
}
.#{$md-prefix}-brightness-high:before {
	content: "\e667";
}
.#{$md-prefix}-brightness-low:before {
	content: "\e668";
}
.#{$md-prefix}-brightness-medium:before {
	content: "\e669";
}
.#{$md-prefix}-brush:before {
	content: "\e66a";
}
.#{$md-prefix}-bug-report:before {
	content: "\e66b";
}
.#{$md-prefix}-business:before {
	content: "\e66c";
}
.#{$md-prefix}-cached:before {
	content: "\e66d";
}
.#{$md-prefix}-cake:before {
	content: "\e66e";
}
.#{$md-prefix}-call:before {
	content: "\e66f";
}
.#{$md-prefix}-call-end:before {
	content: "\e670";
}
.#{$md-prefix}-call-made:before {
	content: "\e671";
}
.#{$md-prefix}-call-merge:before {
	content: "\e672";
}
.#{$md-prefix}-call-missed:before {
	content: "\e673";
}
.#{$md-prefix}-call-received:before {
	content: "\e674";
}
.#{$md-prefix}-call-split:before {
	content: "\e675";
}
.#{$md-prefix}-camera:before {
	content: "\e676";
}
.#{$md-prefix}-camera-alt:before {
	content: "\e677";
}
.#{$md-prefix}-camera-front:before {
	content: "\e678";
}
.#{$md-prefix}-camera-rear:before {
	content: "\e679";
}
.#{$md-prefix}-camera-roll:before {
	content: "\e67a";
}
.#{$md-prefix}-cancel:before {
	content: "\e67b";
}
.#{$md-prefix}-cast:before {
	content: "\e67c";
}
.#{$md-prefix}-cast-connected:before {
	content: "\e67d";
}
.#{$md-prefix}-center-focus-strong:before {
	content: "\e67e";
}
.#{$md-prefix}-center-focus-weak:before {
	content: "\e67f";
}
.#{$md-prefix}-chat:before {
	content: "\e680";
}
.#{$md-prefix}-check:before {
	content: "\e681";
}
.#{$md-prefix}-check-box:before {
	content: "\e682";
}
.#{$md-prefix}-check-box-outline-blank:before {
	content: "\e683";
}
.#{$md-prefix}-chevron-left:before {
	content: "\e684";
}
.#{$md-prefix}-chevron-right:before {
	content: "\e685";
}
.#{$md-prefix}-class:before {
	content: "\e686";
}
.#{$md-prefix}-clear:before {
	content: "\e687";
}
.#{$md-prefix}-clear-all:before {
	content: "\e688";
}
.#{$md-prefix}-close:before {
	content: "\e689";
}
.#{$md-prefix}-closed-caption:before {
	content: "\e68a";
}
.#{$md-prefix}-cloud:before {
	content: "\e68b";
}
.#{$md-prefix}-cloud-circle:before {
	content: "\e68c";
}
.#{$md-prefix}-cloud-done:before {
	content: "\e68d";
}
.#{$md-prefix}-cloud-download:before {
	content: "\e68e";
}
.#{$md-prefix}-cloud-off:before {
	content: "\e68f";
}
.#{$md-prefix}-cloud-queue:before {
	content: "\e690";
}
.#{$md-prefix}-cloud-upload:before {
	content: "\e691";
}
.#{$md-prefix}-collections:before {
	content: "\e692";
}
.#{$md-prefix}-color-lens:before {
	content: "\e693";
}
.#{$md-prefix}-colorize:before {
	content: "\e694";
}
.#{$md-prefix}-comment:before {
	content: "\e695";
}
.#{$md-prefix}-compare:before {
	content: "\e696";
}
.#{$md-prefix}-computer:before {
	content: "\e697";
}
.#{$md-prefix}-contacts:before {
	content: "\e698";
}
.#{$md-prefix}-content-copy:before {
	content: "\e699";
}
.#{$md-prefix}-content-cut:before {
	content: "\e69a";
}
.#{$md-prefix}-content-paste:before {
	content: "\e69b";
}
.#{$md-prefix}-control-point:before {
	content: "\e69c";
}
.#{$md-prefix}-control-point-duplicate:before {
	content: "\e69d";
}
.#{$md-prefix}-create:before {
	content: "\e69e";
}
.#{$md-prefix}-credit-card:before {
	content: "\e69f";
}
.#{$md-prefix}-crop-3-2:before {
	content: "\e6a0";
}
.#{$md-prefix}-crop-5-4:before {
	content: "\e6a1";
}
.#{$md-prefix}-crop-7-5:before {
	content: "\e6a2";
}
.#{$md-prefix}-crop-16-9:before {
	content: "\e6a3";
}
.#{$md-prefix}-crop:before {
	content: "\e6a4";
}
.#{$md-prefix}-crop-din:before {
	content: "\e6a5";
}
.#{$md-prefix}-crop-free:before {
	content: "\e6a6";
}
.#{$md-prefix}-crop-landscape:before {
	content: "\e6a7";
}
.#{$md-prefix}-crop-original:before {
	content: "\e6a8";
}
.#{$md-prefix}-crop-portrait:before {
	content: "\e6a9";
}
.#{$md-prefix}-crop-square:before {
	content: "\e6aa";
}
.#{$md-prefix}-dashboard:before {
	content: "\e6ab";
}
.#{$md-prefix}-data-usage:before {
	content: "\e6ac";
}
.#{$md-prefix}-dehaze:before {
	content: "\e6ad";
}
.#{$md-prefix}-delete:before {
	content: "\e6ae";
}
.#{$md-prefix}-description:before {
	content: "\e6af";
}
.#{$md-prefix}-desktop-mac:before {
	content: "\e6b0";
}
.#{$md-prefix}-desktop-windows:before {
	content: "\e6b1";
}
.#{$md-prefix}-details:before {
	content: "\e6b2";
}
.#{$md-prefix}-developer-mode:before {
	content: "\e6b3";
}
.#{$md-prefix}-devices:before {
	content: "\e6b4";
}
.#{$md-prefix}-dialer-sip:before {
	content: "\e6b5";
}
.#{$md-prefix}-dialpad:before {
	content: "\e6b6";
}
.#{$md-prefix}-directions:before {
	content: "\e6b7";
}
.#{$md-prefix}-directions-bike:before {
	content: "\e6b8";
}
.#{$md-prefix}-directions-bus:before {
	content: "\e6b9";
}
.#{$md-prefix}-directions-car:before {
	content: "\e6ba";
}
.#{$md-prefix}-directions-ferry:before {
	content: "\e6bb";
}
.#{$md-prefix}-directions-subway:before {
	content: "\e6bc";
}
.#{$md-prefix}-directions-train:before {
	content: "\e6bd";
}
.#{$md-prefix}-directions-transit:before {
	content: "\e6be";
}
.#{$md-prefix}-directions-walk:before {
	content: "\e6bf";
}
.#{$md-prefix}-disc-full:before {
	content: "\e6c0";
}
.#{$md-prefix}-dnd-forwardslash:before {
	content: "\e6c1";
}
.#{$md-prefix}-dnd-on:before {
	content: "\e6c2";
}
.#{$md-prefix}-dns:before {
	content: "\e6c3";
}
.#{$md-prefix}-do-not-disturb:before {
	content: "\e6c4";
}
.#{$md-prefix}-dock:before {
	content: "\e6c5";
}
.#{$md-prefix}-domain:before {
	content: "\e6c6";
}
.#{$md-prefix}-done:before {
	content: "\e6c7";
}
.#{$md-prefix}-done-all:before {
	content: "\e6c8";
}
.#{$md-prefix}-drafts:before {
	content: "\e6c9";
}
.#{$md-prefix}-drive-eta:before {
	content: "\e6ca";
}
.#{$md-prefix}-dvr:before {
	content: "\e6cb";
}
.#{$md-prefix}-edit:before {
	content: "\e6cc";
}
.#{$md-prefix}-email:before {
	content: "\e6cd";
}
.#{$md-prefix}-equalizer:before {
	content: "\e6ce";
}
.#{$md-prefix}-error:before {
	content: "\e6cf";
}
.#{$md-prefix}-event:before {
	content: "\e6d0";
}
.#{$md-prefix}-event-available:before {
	content: "\e6d1";
}
.#{$md-prefix}-event-busy:before {
	content: "\e6d2";
}
.#{$md-prefix}-event-note:before {
	content: "\e6d3";
}
.#{$md-prefix}-exit-to-app:before {
	content: "\e6d4";
}
.#{$md-prefix}-expand-less:before {
	content: "\e6d5";
}
.#{$md-prefix}-expand-more:before {
	content: "\e6d6";
}
.#{$md-prefix}-explicit:before {
	content: "\e6d7";
}
.#{$md-prefix}-explore:before {
	content: "\e6d8";
}
.#{$md-prefix}-exposure:before {
	content: "\e6d9";
}
.#{$md-prefix}-exposure-minus-1:before {
	content: "\e6da";
}
.#{$md-prefix}-exposure-minus-2:before {
	content: "\e6db";
}
.#{$md-prefix}-exposure-plus-1:before {
	content: "\e6dc";
}
.#{$md-prefix}-exposure-plus-2:before {
	content: "\e6dd";
}
.#{$md-prefix}-exposure-zero:before {
	content: "\e6de";
}
.#{$md-prefix}-extension:before {
	content: "\e6df";
}
.#{$md-prefix}-face-unlock:before {
	content: "\e6e0";
}
.#{$md-prefix}-fast-forward:before {
	content: "\e6e1";
}
.#{$md-prefix}-fast-rewind:before {
	content: "\e6e2";
}
.#{$md-prefix}-favorite:before {
	content: "\e6e3";
}
.#{$md-prefix}-favorite-outline:before {
	content: "\e6e4";
}
.#{$md-prefix}-file-download:before {
	content: "\e6e5";
}
.#{$md-prefix}-file-upload:before {
	content: "\e6e6";
}
.#{$md-prefix}-filter-1:before {
	content: "\e6e7";
}
.#{$md-prefix}-filter-2:before {
	content: "\e6e8";
}
.#{$md-prefix}-filter-3:before {
	content: "\e6e9";
}
.#{$md-prefix}-filter-4:before {
	content: "\e6ea";
}
.#{$md-prefix}-filter-5:before {
	content: "\e6eb";
}
.#{$md-prefix}-filter-6:before {
	content: "\e6ec";
}
.#{$md-prefix}-filter-7:before {
	content: "\e6ed";
}
.#{$md-prefix}-filter-8:before {
	content: "\e6ee";
}
.#{$md-prefix}-filter-9:before {
	content: "\e6ef";
}
.#{$md-prefix}-filter-9-plus:before {
	content: "\e6f0";
}
.#{$md-prefix}-filter:before {
	content: "\e6f1";
}
.#{$md-prefix}-filter-b-and-w:before {
	content: "\e6f2";
}
.#{$md-prefix}-filter-center-focus:before {
	content: "\e6f3";
}
.#{$md-prefix}-filter-drama:before {
	content: "\e6f4";
}
.#{$md-prefix}-filter-frames:before {
	content: "\e6f5";
}
.#{$md-prefix}-filter-hdr:before {
	content: "\e6f6";
}
.#{$md-prefix}-filter-list:before {
	content: "\e6f7";
}
.#{$md-prefix}-filter-none:before {
	content: "\e6f8";
}
.#{$md-prefix}-filter-tilt-shift:before {
	content: "\e6f9";
}
.#{$md-prefix}-filter-vintage:before {
	content: "\e6fa";
}
.#{$md-prefix}-find-in-page:before {
	content: "\e6fb";
}
.#{$md-prefix}-find-replace:before {
	content: "\e6fc";
}
.#{$md-prefix}-flag:before {
	content: "\e6fd";
}
.#{$md-prefix}-flare:before {
	content: "\e6fe";
}
.#{$md-prefix}-flash-auto:before {
	content: "\e6ff";
}
.#{$md-prefix}-flash-off:before {
	content: "\e700";
}
.#{$md-prefix}-flash-on:before {
	content: "\e701";
}
.#{$md-prefix}-flight:before {
	content: "\e702";
}
.#{$md-prefix}-flip:before {
	content: "\e703";
}
.#{$md-prefix}-flip-to-back:before {
	content: "\e704";
}
.#{$md-prefix}-flip-to-front:before {
	content: "\e705";
}
.#{$md-prefix}-folder:before {
	content: "\e706";
}
.#{$md-prefix}-folder-open:before {
	content: "\e707";
}
.#{$md-prefix}-folder-shared:before {
	content: "\e708";
}
.#{$md-prefix}-folder-special:before {
	content: "\e709";
}
.#{$md-prefix}-format-align-center:before {
	content: "\e70a";
}
.#{$md-prefix}-format-align-justify:before {
	content: "\e70b";
}
.#{$md-prefix}-format-align-left:before {
	content: "\e70c";
}
.#{$md-prefix}-format-align-right:before {
	content: "\e70d";
}
.#{$md-prefix}-format-bold:before {
	content: "\e70e";
}
.#{$md-prefix}-format-clear:before {
	content: "\e70f";
}
.#{$md-prefix}-format-color-fill:before {
	content: "\e710";
}
.#{$md-prefix}-format-color-reset:before {
	content: "\e711";
}
.#{$md-prefix}-format-color-text:before {
	content: "\e712";
}
.#{$md-prefix}-format-indent-decrease:before {
	content: "\e713";
}
.#{$md-prefix}-format-indent-increase:before {
	content: "\e714";
}
.#{$md-prefix}-format-italico:before {
	content: "\e715";
}
.#{$md-prefix}-format-line-spacing:before {
	content: "\e716";
}
.#{$md-prefix}-format-list-bulleted:before {
	content: "\e717";
}
.#{$md-prefix}-format-list-numbered:before {
	content: "\e718";
}
.#{$md-prefix}-format-paint:before {
	content: "\e719";
}
.#{$md-prefix}-format-quote:before {
	content: "\e71a";
}
.#{$md-prefix}-format-size:before {
	content: "\e71b";
}
.#{$md-prefix}-format-strikethrough:before {
	content: "\e71c";
}
.#{$md-prefix}-format-textdirection-l-to-r:before {
	content: "\e71d";
}
.#{$md-prefix}-format-textdirection-r-to-l:before {
	content: "\e71e";
}
.#{$md-prefix}-format-underline:before {
	content: "\e71f";
}
.#{$md-prefix}-forum:before {
	content: "\e720";
}
.#{$md-prefix}-forward:before {
	content: "\e721";
}
.#{$md-prefix}-fullscreen:before {
	content: "\e722";
}
.#{$md-prefix}-fullscreen-exit:before {
	content: "\e723";
}
.#{$md-prefix}-functions:before {
	content: "\e724";
}
.#{$md-prefix}-gamepad:before {
	content: "\e725";
}
.#{$md-prefix}-games:before {
	content: "\e726";
}
.#{$md-prefix}-gesture:before {
	content: "\e727";
}
.#{$md-prefix}-get-app:before {
	content: "\e728";
}
.#{$md-prefix}-gps-fixed:before {
	content: "\e729";
}
.#{$md-prefix}-gps-not-fixed:before {
	content: "\e72a";
}
.#{$md-prefix}-gps-off:before {
	content: "\e72b";
}
.#{$md-prefix}-grade:before {
	content: "\e72c";
}
.#{$md-prefix}-gradient:before {
	content: "\e72d";
}
.#{$md-prefix}-grain:before {
	content: "\e72e";
}
.#{$md-prefix}-grid-off:before {
	content: "\e72f";
}
.#{$md-prefix}-grid-on:before {
	content: "\e730";
}
.#{$md-prefix}-group:before {
	content: "\e731";
}
.#{$md-prefix}-group-add:before {
	content: "\e732";
}
.#{$md-prefix}-group-work:before {
	content: "\e733";
}
.#{$md-prefix}-hdr-off:before {
	content: "\e734";
}
.#{$md-prefix}-hdr-on:before {
	content: "\e735";
}
.#{$md-prefix}-hdr-strong:before {
	content: "\e736";
}
.#{$md-prefix}-hdr-weak:before {
	content: "\e737";
}
.#{$md-prefix}-headset:before {
	content: "\e738";
}
.#{$md-prefix}-headset-mico:before {
	content: "\e739";
}
.#{$md-prefix}-healing:before {
	content: "\e73a";
}
.#{$md-prefix}-hearing:before {
	content: "\e73b";
}
.#{$md-prefix}-help:before {
	content: "\e73c";
}
.#{$md-prefix}-high-quality:before {
	content: "\e73d";
}
.#{$md-prefix}-highlight-remove:before {
	content: "\e73e";
}
.#{$md-prefix}-history:before {
	content: "\e73f";
}
.#{$md-prefix}-home:before {
	content: "\e740";
}
.#{$md-prefix}-hotel:before {
	content: "\e741";
}
.#{$md-prefix}-https:before {
	content: "\e742";
}
.#{$md-prefix}-image:before {
	content: "\e743";
}
.#{$md-prefix}-image-aspect-ratio:before {
	content: "\e744";
}
.#{$md-prefix}-import-export:before {
	content: "\e745";
}
.#{$md-prefix}-inbox:before {
	content: "\e746";
}
.#{$md-prefix}-info:before {
	content: "\e747";
}
.#{$md-prefix}-info-outline:before {
	content: "\e748";
}
.#{$md-prefix}-input:before {
	content: "\e749";
}
.#{$md-prefix}-insert-chart:before {
	content: "\e74a";
}
.#{$md-prefix}-insert-comment:before {
	content: "\e74b";
}
.#{$md-prefix}-insert-drive-file:before {
	content: "\e74c";
}
.#{$md-prefix}-insert-emoticon:before {
	content: "\e74d";
}
.#{$md-prefix}-insert-invitation:before {
	content: "\e74e";
}
.#{$md-prefix}-insert-link:before {
	content: "\e74f";
}
.#{$md-prefix}-insert-photo:before {
	content: "\e750";
}
.#{$md-prefix}-invert-colors:before {
	content: "\e751";
}
.#{$md-prefix}-invert-colors-off:before {
	content: "\e752";
}
.#{$md-prefix}-invert-colors-on:before {
	content: "\e753";
}
.#{$md-prefix}-iso:before {
	content: "\e754";
}
.#{$md-prefix}-keyboard:before {
	content: "\e755";
}
.#{$md-prefix}-keyboard-alt:before {
	content: "\e756";
}
.#{$md-prefix}-keyboard-arrow-down:before {
	content: "\e757";
}
.#{$md-prefix}-keyboard-arrow-left:before {
	content: "\e758";
}
.#{$md-prefix}-keyboard-arrow-right:before {
	content: "\e759";
}
.#{$md-prefix}-keyboard-arrow-up:before {
	content: "\e75a";
}
.#{$md-prefix}-keyboard-backspace:before {
	content: "\e75b";
}
.#{$md-prefix}-keyboard-capslock:before {
	content: "\e75c";
}
.#{$md-prefix}-keyboard-control:before {
	content: "\e75d";
}
.#{$md-prefix}-keyboard-hide:before {
	content: "\e75e";
}
.#{$md-prefix}-keyboard-return:before {
	content: "\e75f";
}
.#{$md-prefix}-keyboard-tab:before {
	content: "\e760";
}
.#{$md-prefix}-keyboard-voice:before {
	content: "\e761";
}
.#{$md-prefix}-label:before {
	content: "\e762";
}
.#{$md-prefix}-label-outline:before {
	content: "\e763";
}
.#{$md-prefix}-landscape:before {
	content: "\e764";
}
.#{$md-prefix}-language:before {
	content: "\e765";
}
.#{$md-prefix}-laptop:before {
	content: "\e766";
}
.#{$md-prefix}-laptop-chromebook:before {
	content: "\e767";
}
.#{$md-prefix}-laptop-mac:before {
	content: "\e768";
}
.#{$md-prefix}-laptop-windows:before {
	content: "\e769";
}
.#{$md-prefix}-launch:before {
	content: "\e76a";
}
.#{$md-prefix}-layers:before {
	content: "\e76b";
}
.#{$md-prefix}-layers-clear:before {
	content: "\e76c";
}
.#{$md-prefix}-leak-add:before {
	content: "\e76d";
}
.#{$md-prefix}-leak-remove:before {
	content: "\e76e";
}
.#{$md-prefix}-lens:before {
	content: "\e76f";
}
.#{$md-prefix}-link:before {
	content: "\e770";
}
.#{$md-prefix}-list:before {
	content: "\e771";
}
.#{$md-prefix}-live-help:before {
	content: "\e772";
}
.#{$md-prefix}-local-airport:before {
	content: "\e773";
}
.#{$md-prefix}-local-atm:before {
	content: "\e774";
}
.#{$md-prefix}-local-attraction:before {
	content: "\e775";
}
.#{$md-prefix}-local-bar:before {
	content: "\e776";
}
.#{$md-prefix}-local-cafe:before {
	content: "\e777";
}
.#{$md-prefix}-local-car-wash:before {
	content: "\e778";
}
.#{$md-prefix}-local-convenience-store:before {
	content: "\e779";
}
.#{$md-prefix}-local-drink:before {
	content: "\e77a";
}
.#{$md-prefix}-local-florist:before {
	content: "\e77b";
}
.#{$md-prefix}-local-gas-station:before {
	content: "\e77c";
}
.#{$md-prefix}-local-grocery-store:before {
	content: "\e77d";
}
.#{$md-prefix}-local-hospital:before {
	content: "\e77e";
}
.#{$md-prefix}-local-hotel:before {
	content: "\e77f";
}
.#{$md-prefix}-local-laundry-service:before {
	content: "\e780";
}
.#{$md-prefix}-local-library:before {
	content: "\e781";
}
.#{$md-prefix}-local-mall:before {
	content: "\e782";
}
.#{$md-prefix}-local-movies:before {
	content: "\e783";
}
.#{$md-prefix}-local-offer:before {
	content: "\e784";
}
.#{$md-prefix}-local-parking:before {
	content: "\e785";
}
.#{$md-prefix}-local-pharmacy:before {
	content: "\e786";
}
.#{$md-prefix}-local-phone:before {
	content: "\e787";
}
.#{$md-prefix}-local-pizza:before {
	content: "\e788";
}
.#{$md-prefix}-local-play:before {
	content: "\e789";
}
.#{$md-prefix}-local-post-office:before {
	content: "\e78a";
}
.#{$md-prefix}-local-print-shop:before {
	content: "\e78b";
}
.#{$md-prefix}-local-restaurant:before {
	content: "\e78c";
}
.#{$md-prefix}-local-see:before {
	content: "\e78d";
}
.#{$md-prefix}-local-shipping:before {
	content: "\e78e";
}
.#{$md-prefix}-local-taxi:before {
	content: "\e78f";
}
.#{$md-prefix}-location-city:before {
	content: "\e790";
}
.#{$md-prefix}-location-disabled:before {
	content: "\e791";
}
.#{$md-prefix}-location-history:before {
	content: "\e792";
}
.#{$md-prefix}-location-off:before {
	content: "\e793";
}
.#{$md-prefix}-location-on:before {
	content: "\e794";
}
.#{$md-prefix}-location-searching:before {
	content: "\e795";
}
.#{$md-prefix}-lock:before {
	content: "\e796";
}
.#{$md-prefix}-lock-open:before {
	content: "\e797";
}
.#{$md-prefix}-lock-outline:before {
	content: "\e798";
}
.#{$md-prefix}-looks-3:before {
	content: "\e799";
}
.#{$md-prefix}-looks-4:before {
	content: "\e79a";
}
.#{$md-prefix}-looks-5:before {
	content: "\e79b";
}
.#{$md-prefix}-looks-6:before {
	content: "\e79c";
}
.#{$md-prefix}-looks:before {
	content: "\e79d";
}
.#{$md-prefix}-looks-one:before {
	content: "\e79e";
}
.#{$md-prefix}-looks-two:before {
	content: "\e79f";
}
.#{$md-prefix}-loop:before {
	content: "\e7a0";
}
.#{$md-prefix}-loupe:before {
	content: "\e7a1";
}
.#{$md-prefix}-loyalty:before {
	content: "\e7a2";
}
.#{$md-prefix}-mail:before {
	content: "\e7a3";
}
.#{$md-prefix}-map:before {
	content: "\e7a4";
}
.#{$md-prefix}-markunread:before {
	content: "\e7a5";
}
.#{$md-prefix}-markunread-mailbox:before {
	content: "\e7a6";
}
.#{$md-prefix}-memory:before {
	content: "\e7a7";
}
.#{$md-prefix}-menu:before {
	content: "\e7a8";
}
.#{$md-prefix}-merge-type:before {
	content: "\e7a9";
}
.#{$md-prefix}-message:before {
	content: "\e7aa";
}
.#{$md-prefix}-messenger:before {
	content: "\e7ab";
}
.#{$md-prefix}-mico:before {
	content: "\e7ac";
}
.#{$md-prefix}-m#{$md-prefix}-none:before {
	content: "\e7ad";
}
.#{$md-prefix}-m#{$md-prefix}-off:before {
	content: "\e7ae";
}
.#{$md-prefix}-mms:before {
	content: "\e7af";
}
.#{$md-prefix}-mode-comment:before {
	content: "\e7b0";
}
.#{$md-prefix}-mode-edit:before {
	content: "\e7b1";
}
.#{$md-prefix}-mood:before {
	content: "\e7b2";
}
.#{$md-prefix}-more:before {
	content: "\e7b3";
}
.#{$md-prefix}-more-horiz:before {
	content: "\e7b4";
}
.#{$md-prefix}-more-vert:before {
	content: "\e7b5";
}
.#{$md-prefix}-mouse:before {
	content: "\e7b6";
}
.#{$md-prefix}-movie:before {
	content: "\e7b7";
}
.#{$md-prefix}-movie-creation:before {
	content: "\e7b8";
}
.#{$md-prefix}-multitrack-audio:before {
	content: "\e7b9";
}
.#{$md-prefix}-my-library-add:before {
	content: "\e7ba";
}
.#{$md-prefix}-my-library-books:before {
	content: "\e7bb";
}
.#{$md-prefix}-my-library-musico:before {
	content: "\e7bc";
}
.#{$md-prefix}-my-location:before {
	content: "\e7bd";
}
.#{$md-prefix}-nature:before {
	content: "\e7be";
}
.#{$md-prefix}-nature-people:before {
	content: "\e7bf";
}
.#{$md-prefix}-navigate-before:before {
	content: "\e7c0";
}
.#{$md-prefix}-navigate-next:before {
	content: "\e7c1";
}
.#{$md-prefix}-navigation:before {
	content: "\e7c2";
}
.#{$md-prefix}-network-cell:before {
	content: "\e7c3";
}
.#{$md-prefix}-network-locked:before {
	content: "\e7c4";
}
.#{$md-prefix}-network-wifi:before {
	content: "\e7c5";
}
.#{$md-prefix}-new-releases:before {
	content: "\e7c6";
}
.#{$md-prefix}-nfc:before {
	content: "\e7c7";
}
.#{$md-prefix}-no-sim:before {
	content: "\e7c8";
}
.#{$md-prefix}-not-interested:before {
	content: "\e7c9";
}
.#{$md-prefix}-note-add:before {
	content: "\e7ca";
}
.#{$md-prefix}-notifications:before {
	content: "\e7cb";
}
.#{$md-prefix}-notifications-none:before {
	content: "\e7cc";
}
.#{$md-prefix}-notifications-off:before {
	content: "\e7cd";
}
.#{$md-prefix}-notifications-on:before {
	content: "\e7ce";
}
.#{$md-prefix}-notifications-paused:before {
	content: "\e7cf";
}
.#{$md-prefix}-now-wallpaper:before {
	content: "\e7d0";
}
.#{$md-prefix}-now-widgets:before {
	content: "\e7d1";
}
.#{$md-prefix}-open-in-browser:before {
	content: "\e7d2";
}
.#{$md-prefix}-open-in-new:before {
	content: "\e7d3";
}
.#{$md-prefix}-open-with:before {
	content: "\e7d4";
}
.#{$md-prefix}-pages:before {
	content: "\e7d5";
}
.#{$md-prefix}-pageview:before {
	content: "\e7d6";
}
.#{$md-prefix}-palette:before {
	content: "\e7d7";
}
.#{$md-prefix}-panorama:before {
	content: "\e7d8";
}
.#{$md-prefix}-panorama-fisheye:before {
	content: "\e7d9";
}
.#{$md-prefix}-panorama-horizontal:before {
	content: "\e7da";
}
.#{$md-prefix}-panorama-vertical:before {
	content: "\e7db";
}
.#{$md-prefix}-panorama-wide-angle:before {
	content: "\e7dc";
}
.#{$md-prefix}-party-mode:before {
	content: "\e7dd";
}
.#{$md-prefix}-pause:before {
	content: "\e7de";
}
.#{$md-prefix}-pause-circle-fill:before {
	content: "\e7df";
}
.#{$md-prefix}-pause-circle-outline:before {
	content: "\e7e0";
}
.#{$md-prefix}-payment:before {
	content: "\e7e1";
}
.#{$md-prefix}-people:before {
	content: "\e7e2";
}
.#{$md-prefix}-people-outline:before {
	content: "\e7e3";
}
.#{$md-prefix}-perm-camera-mico:before {
	content: "\e7e4";
}
.#{$md-prefix}-perm-contact-cal:before {
	content: "\e7e5";
}
.#{$md-prefix}-perm-data-setting:before {
	content: "\e7e6";
}
.#{$md-prefix}-perm-device-info:before {
	content: "\e7e7";
}
.#{$md-prefix}-perm-identity:before {
	content: "\e7e8";
}
.#{$md-prefix}-perm-media:before {
	content: "\e7e9";
}
.#{$md-prefix}-perm-phone-msg:before {
	content: "\e7ea";
}
.#{$md-prefix}-perm-scan-wifi:before {
	content: "\e7eb";
}
.#{$md-prefix}-person:before {
	content: "\e7ec";
}
.#{$md-prefix}-person-add:before {
	content: "\e7ed";
}
.#{$md-prefix}-person-outline:before {
	content: "\e7ee";
}
.#{$md-prefix}-phone:before {
	content: "\e7ef";
}
.#{$md-prefix}-phone-android:before {
	content: "\e7f0";
}
.#{$md-prefix}-phone-bluetooth-speaker:before {
	content: "\e7f1";
}
.#{$md-prefix}-phone-forwarded:before {
	content: "\e7f2";
}
.#{$md-prefix}-phone-in-talk:before {
	content: "\e7f3";
}
.#{$md-prefix}-phone-iphone:before {
	content: "\e7f4";
}
.#{$md-prefix}-phone-locked:before {
	content: "\e7f5";
}
.#{$md-prefix}-phone-missed:before {
	content: "\e7f6";
}
.#{$md-prefix}-phone-paused:before {
	content: "\e7f7";
}
.#{$md-prefix}-phonelink:before {
	content: "\e7f8";
}
.#{$md-prefix}-phonelink-off:before {
	content: "\e7f9";
}
.#{$md-prefix}-photo:before {
	content: "\e7fa";
}
.#{$md-prefix}-photo-album:before {
	content: "\e7fb";
}
.#{$md-prefix}-photo-camera:before {
	content: "\e7fc";
}
.#{$md-prefix}-photo-library:before {
	content: "\e7fd";
}
.#{$md-prefix}-picture-in-picture:before {
	content: "\e7fe";
}
.#{$md-prefix}-pin-drop:before {
	content: "\e7ff";
}
.#{$md-prefix}-place:before {
	content: "\e800";
}
.#{$md-prefix}-play-arrow:before {
	content: "\e801";
}
.#{$md-prefix}-play-circle-fill:before {
	content: "\e802";
}
.#{$md-prefix}-play-circle-outline:before {
	content: "\e803";
}
.#{$md-prefix}-play-download:before {
	content: "\e804";
}
.#{$md-prefix}-play-install:before {
	content: "\e805";
}
.#{$md-prefix}-play-shopping-bag:before {
	content: "\e806";
}
.#{$md-prefix}-playlist-add:before {
	content: "\e807";
}
.#{$md-prefix}-plus-one:before {
	content: "\e808";
}
.#{$md-prefix}-poll:before {
	content: "\e809";
}
.#{$md-prefix}-polymer:before {
	content: "\e80a";
}
.#{$md-prefix}-portable-wifi-off:before {
	content: "\e80b";
}
.#{$md-prefix}-portrait:before {
	content: "\e80c";
}
.#{$md-prefix}-print:before {
	content: "\e80d";
}
.#{$md-prefix}-publico:before {
	content: "\e80e";
}
.#{$md-prefix}-publish:before {
	content: "\e80f";
}
.#{$md-prefix}-query-builder:before {
	content: "\e810";
}
.#{$md-prefix}-question-answer:before {
	content: "\e811";
}
.#{$md-prefix}-queue:before {
	content: "\e812";
}
.#{$md-prefix}-queue-musico:before {
	content: "\e813";
}
.#{$md-prefix}-quick-contacts-dialer:before {
	content: "\e814";
}
.#{$md-prefix}-quick-contacts-mail:before {
	content: "\e815";
}
.#{$md-prefix}-radio:before {
	content: "\e816";
}
.#{$md-prefix}-radio-button-off:before {
	content: "\e817";
}
.#{$md-prefix}-radio-button-on:before {
	content: "\e818";
}
.#{$md-prefix}-rate-review:before {
	content: "\e819";
}
.#{$md-prefix}-receipt:before {
	content: "\e81a";
}
.#{$md-prefix}-recent-actors:before {
	content: "\e81b";
}
.#{$md-prefix}-redeem:before {
	content: "\e81c";
}
.#{$md-prefix}-redo:before {
	content: "\e81d";
}
.#{$md-prefix}-refresh:before {
	content: "\e81e";
}
.#{$md-prefix}-remove:before {
	content: "\e81f";
}
.#{$md-prefix}-remove-circle:before {
	content: "\e820";
}
.#{$md-prefix}-remove-circle-outline:before {
	content: "\e821";
}
.#{$md-prefix}-remove-red-eye:before {
	content: "\e822";
}
.#{$md-prefix}-repeat:before {
	content: "\e823";
}
.#{$md-prefix}-repeat-one:before {
	content: "\e824";
}
.#{$md-prefix}-replay:before {
	content: "\e825";
}
.#{$md-prefix}-reply:before {
	content: "\e826";
}
.#{$md-prefix}-reply-all:before {
	content: "\e827";
}
.#{$md-prefix}-report:before {
	content: "\e828";
}
.#{$md-prefix}-report-problem:before {
	content: "\e829";
}
.#{$md-prefix}-restaurant-menu:before {
	content: "\e82a";
}
.#{$md-prefix}-restore:before {
	content: "\e82b";
}
.#{$md-prefix}-ring-volume:before {
	content: "\e82c";
}
.#{$md-prefix}-room:before {
	content: "\e82d";
}
.#{$md-prefix}-rotate-left:before {
	content: "\e82e";
}
.#{$md-prefix}-rotate-right:before {
	content: "\e82f";
}
.#{$md-prefix}-satellite:before {
	content: "\e830";
}
.#{$md-prefix}-save:before {
	content: "\e831";
}
.#{$md-prefix}-schedule:before {
	content: "\e832";
}
.#{$md-prefix}-school:before {
	content: "\e833";
}
.#{$md-prefix}-screen-lock-landscape:before {
	content: "\e834";
}
.#{$md-prefix}-screen-lock-portrait:before {
	content: "\e835";
}
.#{$md-prefix}-screen-lock-rotation:before {
	content: "\e836";
}
.#{$md-prefix}-screen-rotation:before {
	content: "\e837";
}
.#{$md-prefix}-sd-card:before {
	content: "\e838";
}
.#{$md-prefix}-sd-storage:before {
	content: "\e839";
}
.#{$md-prefix}-search:before {
	content: "\e83a";
}
.#{$md-prefix}-security:before {
	content: "\e83b";
}
.#{$md-prefix}-select-all:before {
	content: "\e83c";
}
.#{$md-prefix}-send:before {
	content: "\e83d";
}
.#{$md-prefix}-settings:before {
	content: "\e83e";
}
.#{$md-prefix}-settings-applications:before {
	content: "\e83f";
}
.#{$md-prefix}-settings-backup-restore:before {
	content: "\e840";
}
.#{$md-prefix}-settings-bluetooth:before {
	content: "\e841";
}
.#{$md-prefix}-settings-cell:before {
	content: "\e842";
}
.#{$md-prefix}-settings-display:before {
	content: "\e843";
}
.#{$md-prefix}-settings-ethernet:before {
	content: "\e844";
}
.#{$md-prefix}-settings-input-antenna:before {
	content: "\e845";
}
.#{$md-prefix}-settings-input-component:before {
	content: "\e846";
}
.#{$md-prefix}-settings-input-composite:before {
	content: "\e847";
}
.#{$md-prefix}-settings-input-hdmi:before {
	content: "\e848";
}
.#{$md-prefix}-settings-input-svideo:before {
	content: "\e849";
}
.#{$md-prefix}-settings-overscan:before {
	content: "\e84a";
}
.#{$md-prefix}-settings-phone:before {
	content: "\e84b";
}
.#{$md-prefix}-settings-power:before {
	content: "\e84c";
}
.#{$md-prefix}-settings-remote:before {
	content: "\e84d";
}
.#{$md-prefix}-settings-system-daydream:before {
	content: "\e84e";
}
.#{$md-prefix}-settings-voice:before {
	content: "\e84f";
}
.#{$md-prefix}-share:before {
	content: "\e850";
}
.#{$md-prefix}-shop:before {
	content: "\e851";
}
.#{$md-prefix}-shop-two:before {
	content: "\e852";
}
.#{$md-prefix}-shopping-basket:before {
	content: "\e853";
}
.#{$md-prefix}-shopping-cart:before {
	content: "\e854";
}
.#{$md-prefix}-shuffle:before {
	content: "\e855";
}
.#{$md-prefix}-signal-cellular-0-bar:before {
	content: "\e856";
}
.#{$md-prefix}-signal-cellular-1-bar:before {
	content: "\e857";
}
.#{$md-prefix}-signal-cellular-2-bar:before {
	content: "\e858";
}
.#{$md-prefix}-signal-cellular-3-bar:before {
	content: "\e859";
}
.#{$md-prefix}-signal-cellular-4-bar:before {
	content: "\e85a";
}
.#{$md-prefix}-signal-cellular-connected-no-internet-0-bar:before {
	content: "\e85b";
}
.#{$md-prefix}-signal-cellular-connected-no-internet-1-bar:before {
	content: "\e85c";
}
.#{$md-prefix}-signal-cellular-connected-no-internet-2-bar:before {
	content: "\e85d";
}
.#{$md-prefix}-signal-cellular-connected-no-internet-3-bar:before {
	content: "\e85e";
}
.#{$md-prefix}-signal-cellular-connected-no-internet-4-bar:before {
	content: "\e85f";
}
.#{$md-prefix}-signal-cellular-no-sim:before {
	content: "\e860";
}
.#{$md-prefix}-signal-cellular-null:before {
	content: "\e861";
}
.#{$md-prefix}-signal-cellular-off:before {
	content: "\e862";
}
.#{$md-prefix}-signal-wifi-0-bar:before {
	content: "\e863";
}
.#{$md-prefix}-signal-wifi-1-bar:before {
	content: "\e864";
}
.#{$md-prefix}-signal-wifi-2-bar:before {
	content: "\e865";
}
.#{$md-prefix}-signal-wifi-3-bar:before {
	content: "\e866";
}
.#{$md-prefix}-signal-wifi-4-bar:before {
	content: "\e867";
}
.#{$md-prefix}-signal-wifi-off:before {
	content: "\e868";
}
.#{$md-prefix}-sim-card:before {
	content: "\e869";
}
.#{$md-prefix}-sim-card-alert:before {
	content: "\e86a";
}
.#{$md-prefix}-skip-next:before {
	content: "\e86b";
}
.#{$md-prefix}-skip-previous:before {
	content: "\e86c";
}
.#{$md-prefix}-slideshow:before {
	content: "\e86d";
}
.#{$md-prefix}-smartphone:before {
	content: "\e86e";
}
.#{$md-prefix}-sms:before {
	content: "\e86f";
}
.#{$md-prefix}-sms-failed:before {
	content: "\e870";
}
.#{$md-prefix}-snooze:before {
	content: "\e871";
}
.#{$md-prefix}-sort:before {
	content: "\e872";
}
.#{$md-prefix}-speaker:before {
	content: "\e873";
}
.#{$md-prefix}-speaker-notes:before {
	content: "\e874";
}
.#{$md-prefix}-spellcheck:before {
	content: "\e875";
}
.#{$md-prefix}-star-rate:before {
	content: "\e876";
}
.#{$md-prefix}-stars:before {
	content: "\e877";
}
.#{$md-prefix}-stay-current-landscape:before {
	content: "\e878";
}
.#{$md-prefix}-stay-current-portrait:before {
	content: "\e879";
}
.#{$md-prefix}-stay-primary-landscape:before {
	content: "\e87a";
}
.#{$md-prefix}-stay-primary-portrait:before {
	content: "\e87b";
}
.#{$md-prefix}-stop:before {
	content: "\e87c";
}
.#{$md-prefix}-storage:before {
	content: "\e87d";
}
.#{$md-prefix}-store:before {
	content: "\e87e";
}
.#{$md-prefix}-store-mall-directory:before {
	content: "\e87f";
}
.#{$md-prefix}-straighten:before {
	content: "\e880";
}
.#{$md-prefix}-style:before {
	content: "\e881";
}
.#{$md-prefix}-subject:before {
	content: "\e882";
}
.#{$md-prefix}-subtitles:before {
	content: "\e883";
}
.#{$md-prefix}-surround-sound:before {
	content: "\e884";
}
.#{$md-prefix}-swap-calls:before {
	content: "\e885";
}
.#{$md-prefix}-swap-horiz:before {
	content: "\e886";
}
.#{$md-prefix}-swap-vert:before {
	content: "\e887";
}
.#{$md-prefix}-swap-vert-circle:before {
	content: "\e888";
}
.#{$md-prefix}-switch-camera:before {
	content: "\e889";
}
.#{$md-prefix}-switch-video:before {
	content: "\e88a";
}
.#{$md-prefix}-sync:before {
	content: "\e88b";
}
.#{$md-prefix}-sync-disabled:before {
	content: "\e88c";
}
.#{$md-prefix}-sync-problem:before {
	content: "\e88d";
}
.#{$md-prefix}-system-update:before {
	content: "\e88e";
}
.#{$md-prefix}-system-update-tv:before {
	content: "\e88f";
}
.#{$md-prefix}-tab:before {
	content: "\e890";
}
.#{$md-prefix}-tab-unselected:before {
	content: "\e891";
}
.#{$md-prefix}-tablet:before {
	content: "\e892";
}
.#{$md-prefix}-tablet-android:before {
	content: "\e893";
}
.#{$md-prefix}-tablet-mac:before {
	content: "\e894";
}
.#{$md-prefix}-tag-faces:before {
	content: "\e895";
}
.#{$md-prefix}-tap-and-play:before {
	content: "\e896";
}
.#{$md-prefix}-terrain:before {
	content: "\e897";
}
.#{$md-prefix}-text-format:before {
	content: "\e898";
}
.#{$md-prefix}-textsms:before {
	content: "\e899";
}
.#{$md-prefix}-texture:before {
	content: "\e89a";
}
.#{$md-prefix}-theaters:before {
	content: "\e89b";
}
.#{$md-prefix}-thumb-down:before {
	content: "\e89c";
}
.#{$md-prefix}-thumb-up:before {
	content: "\e89d";
}
.#{$md-prefix}-thumbs-up-down:before {
	content: "\e89e";
}
.#{$md-prefix}-time-to-leave:before {
	content: "\e89f";
}
.#{$md-prefix}-timelapse:before {
	content: "\e8a0";
}
.#{$md-prefix}-timer-3:before {
	content: "\e8a1";
}
.#{$md-prefix}-timer-10:before {
	content: "\e8a2";
}
.#{$md-prefix}-timer:before {
	content: "\e8a3";
}
.#{$md-prefix}-timer-auto:before {
	content: "\e8a4";
}
.#{$md-prefix}-timer-off:before {
	content: "\e8a5";
}
.#{$md-prefix}-toc:before {
	content: "\e8a6";
}
.#{$md-prefix}-today:before {
	content: "\e8a7";
}
.#{$md-prefix}-tonality:before {
	content: "\e8a8";
}
.#{$md-prefix}-track-changes:before {
	content: "\e8a9";
}
.#{$md-prefix}-traffico:before {
	content: "\e8aa";
}
.#{$md-prefix}-transform:before {
	content: "\e8ab";
}
.#{$md-prefix}-translate:before {
	content: "\e8ac";
}
.#{$md-prefix}-trending-down:before {
	content: "\e8ad";
}
.#{$md-prefix}-trending-neutral:before {
	content: "\e8ae";
}
.#{$md-prefix}-trending-up:before {
	content: "\e8af";
}
.#{$md-prefix}-tune:before {
	content: "\e8b0";
}
.#{$md-prefix}-turned-in:before {
	content: "\e8b1";
}
.#{$md-prefix}-turned-in-not:before {
	content: "\e8b2";
}
.#{$md-prefix}-tv:before {
	content: "\e8b3";
}
.#{$md-prefix}-undo:before {
	content: "\e8b4";
}
.#{$md-prefix}-unfold-less:before {
	content: "\e8b5";
}
.#{$md-prefix}-unfold-more:before {
	content: "\e8b6";
}
.#{$md-prefix}-usb:before {
	content: "\e8b7";
}
.#{$md-prefix}-verified-user:before {
	content: "\e8b8";
}
.#{$md-prefix}-vertical-align-bottom:before {
	content: "\e8b9";
}
.#{$md-prefix}-vertical-align-center:before {
	content: "\e8ba";
}
.#{$md-prefix}-vertical-align-top:before {
	content: "\e8bb";
}
.#{$md-prefix}-vibration:before {
	content: "\e8bc";
}
.#{$md-prefix}-video-collection:before {
	content: "\e8bd";
}
.#{$md-prefix}-videocam:before {
	content: "\e8be";
}
.#{$md-prefix}-videocam-off:before {
	content: "\e8bf";
}
.#{$md-prefix}-view-agenda:before {
	content: "\e8c0";
}
.#{$md-prefix}-view-array:before {
	content: "\e8c1";
}
.#{$md-prefix}-view-carousel:before {
	content: "\e8c2";
}
.#{$md-prefix}-view-column:before {
	content: "\e8c3";
}
.#{$md-prefix}-view-day:before {
	content: "\e8c4";
}
.#{$md-prefix}-view-headline:before {
	content: "\e8c5";
}
.#{$md-prefix}-view-list:before {
	content: "\e8c6";
}
.#{$md-prefix}-view-module:before {
	content: "\e8c7";
}
.#{$md-prefix}-view-quilt:before {
	content: "\e8c8";
}
.#{$md-prefix}-view-stream:before {
	content: "\e8c9";
}
.#{$md-prefix}-view-week:before {
	content: "\e8ca";
}
.#{$md-prefix}-visibility:before {
	content: "\e8cb";
}
.#{$md-prefix}-visibility-off:before {
	content: "\e8cc";
}
.#{$md-prefix}-voice-chat:before {
	content: "\e8cd";
}
.#{$md-prefix}-voicemail:before {
	content: "\e8ce";
}
.#{$md-prefix}-volume-down:before {
	content: "\e8cf";
}
.#{$md-prefix}-volume-mute:before {
	content: "\e8d0";
}
.#{$md-prefix}-volume-off:before {
	content: "\e8d1";
}
.#{$md-prefix}-volume-up:before {
	content: "\e8d2";
}
.#{$md-prefix}-vpn-key:before {
	content: "\e8d3";
}
.#{$md-prefix}-vpn-lock:before {
	content: "\e8d4";
}
.#{$md-prefix}-wallet-giftcard:before {
	content: "\e8d5";
}
.#{$md-prefix}-wallet-membership:before {
	content: "\e8d6";
}
.#{$md-prefix}-wallet-travel:before {
	content: "\e8d7";
}
.#{$md-prefix}-warning:before {
	content: "\e8d8";
}
.#{$md-prefix}-watch:before {
	content: "\e8d9";
}
.#{$md-prefix}-wb-auto:before {
	content: "\e8da";
}
.#{$md-prefix}-wb-cloudy:before {
	content: "\e8db";
}
.#{$md-prefix}-wb-incandescent:before {
	content: "\e8dc";
}
.#{$md-prefix}-wb-irradescent:before {
	content: "\e8dd";
}
.#{$md-prefix}-wb-sunny:before {
	content: "\e8de";
}
.#{$md-prefix}-web:before {
	content: "\e8df";
}
.#{$md-prefix}-whatshot:before {
	content: "\e8e0";
}
.#{$md-prefix}-wifi-lock:before {
	content: "\e8e1";
}
.#{$md-prefix}-wifi-tethering:before {
	content: "\e8e2";
}
.#{$md-prefix}-work:before {
	content: "\e8e3";
}
.#{$md-prefix}-wrap-text:before {
	content: "\e8e4";
}