.#{$md-prefix}-business:before { content: "\e66c"; }
.#{$md-prefix}-call:before { content: "\e66f"; }
.#{$md-prefix}-call-end:before { content: "\e670"; }
.#{$md-prefix}-call-made:before { content: "\e671"; }
.#{$md-prefix}-call-merge:before { content: "\e672"; }
.#{$md-prefix}-call-missed:before { content: "\e673"; }
.#{$md-prefix}-call-received:before { content: "\e674"; }
.#{$md-prefix}-call-split:before { content: "\e675"; }
.#{$md-prefix}-chat:before { content: "\e680"; }
.#{$md-prefix}-clear-all:before { content: "\e688"; }
.#{$md-prefix}-comment:before { content: "\e695"; }
.#{$md-prefix}-contacts:before { content: "\e698"; }
.#{$md-prefix}-dialer-sip:before { content: "\e6b5"; }
.#{$md-prefix}-dialpad:before { content: "\e6b6"; }
.#{$md-prefix}-dnd-on:before { content: "\e6c2"; }
.#{$md-prefix}-email:before { content: "\e6cd"; }
.#{$md-prefix}-forum:before { content: "\e720"; }
.#{$md-prefix}-import-export:before { content: "\e745"; }
.#{$md-prefix}-invert-colors-off:before { content: "\e752"; }
.#{$md-prefix}-invert-colors-on:before { content: "\e753"; }
.#{$md-prefix}-live-help:before { content: "\e772"; }
.#{$md-prefix}-location-off:before { content: "\e793"; }
.#{$md-prefix}-location-on:before { content: "\e794"; }
.#{$md-prefix}-message:before { content: "\e7aa"; }
.#{$md-prefix}-messenger:before { content: "\e7ab"; }
.#{$md-prefix}-no-sim:before { content: "\e7c8"; }
.#{$md-prefix}-phone:before { content: "\e7ef"; }
.#{$md-prefix}-portable-wifi-off:before { content: "\e80b"; }
.#{$md-prefix}-quick-contacts-dialer:before { content: "\e814"; }
.#{$md-prefix}-quick-contacts-mail:before { content: "\e815"; }
.#{$md-prefix}-ring-volume:before { content: "\e82c"; }
.#{$md-prefix}-stay-current-landscape:before { content: "\e878"; }
.#{$md-prefix}-stay-current-portrait:before { content: "\e879"; }
.#{$md-prefix}-stay-primary-landscape:before { content: "\e87a"; }
.#{$md-prefix}-stay-primary-portrait:before { content: "\e87b"; }
.#{$md-prefix}-swap-calls:before { content: "\e885"; }
.#{$md-prefix}-textsms:before { content: "\e899"; }
.#{$md-prefix}-voicemail:before { content: "\e8ce"; }
.#{$md-prefix}-vpn-key:before { content: "\e8d3"; }