.#{$md-prefix}-add:before { content: "\e60b"; }
.#{$md-prefix}-add-box:before { content: "\e60d"; }
.#{$md-prefix}-add-circle:before { content: "\e60e"; }
.#{$md-prefix}-add-circle-outline:before { content: "\e60f"; }
.#{$md-prefix}-archive:before { content: "\e61d"; }
.#{$md-prefix}-backspace:before { content: "\e632"; }
.#{$md-prefix}-block:before { content: "\e646"; }
.#{$md-prefix}-clear:before { content: "\e687"; }
.#{$md-prefix}-content-copy:before { content: "\e699"; }
.#{$md-prefix}-content-cut:before { content: "\e69a"; }
.#{$md-prefix}-content-paste:before { content: "\e69b"; }
.#{$md-prefix}-create:before { content: "\e69e"; }
.#{$md-prefix}-drafts:before { content: "\e6c9"; }
.#{$md-prefix}-filter-list:before { content: "\e6f7"; }
.#{$md-prefix}-flag:before { content: "\e6fd"; }
.#{$md-prefix}-forward:before { content: "\e721"; }
.#{$md-prefix}-gesture:before { content: "\e727"; }
.#{$md-prefix}-inbox:before { content: "\e746"; }
.#{$md-prefix}-link:before { content: "\e770"; }
.#{$md-prefix}-mail:before { content: "\e7a3"; }
.#{$md-prefix}-markunread:before { content: "\e7a5"; }
.#{$md-prefix}-redo:before { content: "\e81d"; }
.#{$md-prefix}-remove:before { content: "\e81f"; }
.#{$md-prefix}-remove-circle:before { content: "\e820"; }
.#{$md-prefix}-remove-circle-outline:before { content: "\e821"; }
.#{$md-prefix}-reply:before { content: "\e826"; }
.#{$md-prefix}-reply-all:before { content: "\e827"; }
.#{$md-prefix}-report:before { content: "\e828"; }
.#{$md-prefix}-save:before { content: "\e831"; }
.#{$md-prefix}-select-all:before { content: "\e83c"; }
.#{$md-prefix}-send:before { content: "\e83d"; }
.#{$md-prefix}-sort:before { content: "\e872"; }
.#{$md-prefix}-text-format:before { content: "\e898"; }
.#{$md-prefix}-undo:before { content: "\e8b4"; }