.#{$md-prefix}-access-alarm:before { content: "\e601"; }
.#{$md-prefix}-access-alarms:before { content: "\e602"; }
.#{$md-prefix}-access-time:before { content: "\e603"; }
.#{$md-prefix}-add-alarm:before { content: "\e60c"; }
.#{$md-prefix}-airplanemode-off:before { content: "\e613"; }
.#{$md-prefix}-airplanemode-on:before { content: "\e614"; }
.#{$md-prefix}-battery-20:before { content: "\e634"; }
.#{$md-prefix}-battery-30:before { content: "\e635"; }
.#{$md-prefix}-battery-50:before { content: "\e636"; }
.#{$md-prefix}-battery-60:before { content: "\e637"; }
.#{$md-prefix}-battery-80:before { content: "\e638"; }
.#{$md-prefix}-battery-90:before { content: "\e639"; }
.#{$md-prefix}-battery-alert:before { content: "\e63a"; }
.#{$md-prefix}-battery-charging-20:before { content: "\e63b"; }
.#{$md-prefix}-battery-charging-30:before { content: "\e63c"; }
.#{$md-prefix}-battery-charging-50:before { content: "\e63d"; }
.#{$md-prefix}-battery-charging-60:before { content: "\e63e"; }
.#{$md-prefix}-battery-charging-80:before { content: "\e63f"; }
.#{$md-prefix}-battery-charging-90:before { content: "\e640"; }
.#{$md-prefix}-battery-charging-full:before { content: "\e641"; }
.#{$md-prefix}-battery-full:before { content: "\e642"; }
.#{$md-prefix}-battery-std:before { content: "\e643"; }
.#{$md-prefix}-battery-unknown:before { content: "\e644"; }
.#{$md-prefix}-bluetooth:before { content: "\e647"; }
.#{$md-prefix}-bluetooth-connected:before { content: "\e649"; }
.#{$md-prefix}-bluetooth-disabled:before { content: "\e64a"; }
.#{$md-prefix}-bluetooth-searching:before { content: "\e64b"; }
.#{$md-prefix}-brightness-auto:before { content: "\e666"; }
.#{$md-prefix}-brightness-high:before { content: "\e667"; }
.#{$md-prefix}-brightness-low:before { content: "\e668"; }
.#{$md-prefix}-brightness-medium:before { content: "\e669"; }
.#{$md-prefix}-data-usage:before { content: "\e6ac"; }
.#{$md-prefix}-developer-mode:before { content: "\e6b3"; }
.#{$md-prefix}-devices:before { content: "\e6b4"; }
.#{$md-prefix}-dvr:before { content: "\e6cb"; }
.#{$md-prefix}-gps-fixed:before { content: "\e729"; }
.#{$md-prefix}-gps-not-fixed:before { content: "\e72a"; }
.#{$md-prefix}-gps-off:before { content: "\e72b"; }
.#{$md-prefix}-location-disabled:before { content: "\e791"; }
.#{$md-prefix}-location-searching:before { content: "\e795"; }
.#{$md-prefix}-multitrack-audio:before { content: "\e7b9"; }
.#{$md-prefix}-network-cell:before { content: "\e7c3"; }
.#{$md-prefix}-network-wifi:before { content: "\e7c5"; }
.#{$md-prefix}-nfc:before { content: "\e7c7"; }
.#{$md-prefix}-now-wallpaper:before { content: "\e7d0"; }
.#{$md-prefix}-now-widgets:before { content: "\e7d1"; }
.#{$md-prefix}-screen-lock-landscape:before { content: "\e834"; }
.#{$md-prefix}-screen-lock-portrait:before { content: "\e835"; }
.#{$md-prefix}-screen-lock-rotation:before { content: "\e836"; }
.#{$md-prefix}-screen-rotation:before { content: "\e837"; }
.#{$md-prefix}-sd-storage:before { content: "\e839"; }
.#{$md-prefix}-settings-system-daydream:before { content: "\e84e"; }
.#{$md-prefix}-signal-cellular-0-bar:before { content: "\e856"; }
.#{$md-prefix}-signal-cellular-1-bar:before { content: "\e857"; }
.#{$md-prefix}-signal-cellular-2-bar:before { content: "\e858"; }
.#{$md-prefix}-signal-cellular-3-bar:before { content: "\e859"; }
.#{$md-prefix}-signal-cellular-4-bar:before { content: "\e85a"; }
.#{$md-prefix}-signal-cellular-connected-no-internet-0-bar:before { content: "\e85b"; }
.#{$md-prefix}-signal-cellular-connected-no-internet-1-bar:before { content: "\e85c"; }
.#{$md-prefix}-signal-cellular-connected-no-internet-2-bar:before { content: "\e85d"; }
.#{$md-prefix}-signal-cellular-connected-no-internet-3-bar:before { content: "\e85e"; }
.#{$md-prefix}-signal-cellular-connected-no-internet-4-bar:before { content: "\e85f"; }
.#{$md-prefix}-signal-cellular-no-sim:before { content: "\e860"; }
.#{$md-prefix}-signal-cellular-null:before { content: "\e861"; }
.#{$md-prefix}-signal-cellular-off:before { content: "\e862"; }
.#{$md-prefix}-signal-wifi-0-bar:before { content: "\e863"; }
.#{$md-prefix}-signal-wifi-1-bar:before { content: "\e864"; }
.#{$md-prefix}-signal-wifi-2-bar:before { content: "\e865"; }
.#{$md-prefix}-signal-wifi-3-bar:before { content: "\e866"; }
.#{$md-prefix}-signal-wifi-4-bar:before { content: "\e867"; }
.#{$md-prefix}-signal-wifi-off:before { content: "\e868"; }
.#{$md-prefix}-storage:before { content: "\e87d"; }
.#{$md-prefix}-usb:before { content: "\e8b7"; }
.#{$md-prefix}-wifi-lock:before { content: "\e8e1"; }
.#{$md-prefix}-wifi-tethering:before { content: "\e8e2"; }