.#{$md-prefix}-attachment:before { content: "\e62e"; }
.#{$md-prefix}-cloud:before { content: "\e68b"; }
.#{$md-prefix}-cloud-circle:before { content: "\e68c"; }
.#{$md-prefix}-cloud-done:before { content: "\e68d"; }
.#{$md-prefix}-cloud-download:before { content: "\e68e"; }
.#{$md-prefix}-cloud-off:before { content: "\e68f"; }
.#{$md-prefix}-cloud-queue:before { content: "\e690"; }
.#{$md-prefix}-cloud-upload:before { content: "\e691"; }
.#{$md-prefix}-file-download:before { content: "\e6e5"; }
.#{$md-prefix}-file-upload:before { content: "\e6e6"; }
.#{$md-prefix}-folder:before { content: "\e706"; }
.#{$md-prefix}-folder-open:before { content: "\e707"; }
.#{$md-prefix}-folder-shared:before { content: "\e708"; }