.#{$md-prefix}-cast:before { content: "\e67c"; }
.#{$md-prefix}-cast-connected:before { content: "\e67d"; }
.#{$md-prefix}-computer:before { content: "\e697"; }
.#{$md-prefix}-desktop-mac:before { content: "\e6b0"; }
.#{$md-prefix}-desktop-windows:before { content: "\e6b1"; }
.#{$md-prefix}-dock:before { content: "\e6c5"; }
.#{$md-prefix}-gamepad:before { content: "\e725"; }
.#{$md-prefix}-headset:before { content: "\e738"; }
.#{$md-prefix}-headset-mic:before { content: "\e739"; }
.#{$md-prefix}-keyboard:before { content: "\e755"; }
.#{$md-prefix}-keyboard-alt:before { content: "\e756"; }
.#{$md-prefix}-keyboard-arrow-down:before { content: "\e757"; }
.#{$md-prefix}-keyboard-arrow-left:before { content: "\e758"; }
.#{$md-prefix}-keyboard-arrow-right:before { content: "\e759"; }
.#{$md-prefix}-keyboard-arrow-up:before { content: "\e75a"; }
.#{$md-prefix}-keyboard-backspace:before { content: "\e75b"; }
.#{$md-prefix}-keyboard-capslock:before { content: "\e75c"; }
.#{$md-prefix}-keyboard-control:before { content: "\e75d"; }
.#{$md-prefix}-keyboard-hide:before { content: "\e75e"; }
.#{$md-prefix}-keyboard-return:before { content: "\e75f"; }
.#{$md-prefix}-keyboard-tab:before { content: "\e760"; }
.#{$md-prefix}-keyboard-voice:before { content: "\e761"; }
.#{$md-prefix}-laptop:before { content: "\e766"; }
.#{$md-prefix}-laptop-chromebook:before { content: "\e767"; }
.#{$md-prefix}-laptop-mac:before { content: "\e768"; }
.#{$md-prefix}-laptop-windows:before { content: "\e769"; }
.#{$md-prefix}-memory:before { content: "\e7a7"; }
.#{$md-prefix}-mouse:before { content: "\e7b6"; }
.#{$md-prefix}-phone-android:before { content: "\e7f0"; }
.#{$md-prefix}-phone-iphone:before { content: "\e7f4"; }
.#{$md-prefix}-phonelink:before { content: "\e7f8"; }
.#{$md-prefix}-phonelink-off:before { content: "\e7f9"; }
.#{$md-prefix}-security:before { content: "\e83b"; }
.#{$md-prefix}-sim-card:before { content: "\e869"; }
.#{$md-prefix}-smartphone:before { content: "\e86e"; }
.#{$md-prefix}-speaker:before { content: "\e873"; }
.#{$md-prefix}-tablet:before { content: "\e892"; }
.#{$md-prefix}-tablet-android:before { content: "\e893"; }
.#{$md-prefix}-tablet-mac:before { content: "\e894"; }
.#{$md-prefix}-tv:before { content: "\e8b3"; }
.#{$md-prefix}-watch:before { content: "\e8d9"; }