.#{$md-prefix}-add-to-photos:before { content: "\e611"; }
.#{$md-prefix}-adjust:before { content: "\e612"; }
.#{$md-prefix}-assistant-photo:before { content: "\e62b"; }
.#{$md-prefix}-audiotrack:before { content: "\e62f"; }
.#{$md-prefix}-blur-circular:before { content: "\e64c"; }
.#{$md-prefix}-blur-linear:before { content: "\e64d"; }
.#{$md-prefix}-blur-off:before { content: "\e64e"; }
.#{$md-prefix}-blur-on:before { content: "\e64f"; }
.#{$md-prefix}-brightness-1:before { content: "\e65f"; }
.#{$md-prefix}-brightness-2:before { content: "\e660"; }
.#{$md-prefix}-brightness-3:before { content: "\e661"; }
.#{$md-prefix}-brightness-4:before { content: "\e662"; }
.#{$md-prefix}-brightness-5:before { content: "\e663"; }
.#{$md-prefix}-brightness-6:before { content: "\e664"; }
.#{$md-prefix}-brightness-7:before { content: "\e665"; }
.#{$md-prefix}-brush:before { content: "\e66a"; }
.#{$md-prefix}-camera:before { content: "\e676"; }
.#{$md-prefix}-camera-alt:before { content: "\e677"; }
.#{$md-prefix}-camera-front:before { content: "\e678"; }
.#{$md-prefix}-camera-rear:before { content: "\e679"; }
.#{$md-prefix}-camera-roll:before { content: "\e67a"; }
.#{$md-prefix}-center-focus-strong:before { content: "\e67e"; }
.#{$md-prefix}-center-focus-weak:before { content: "\e67f"; }
.#{$md-prefix}-collections:before { content: "\e692"; }
.#{$md-prefix}-color-lens:before { content: "\e693"; }
.#{$md-prefix}-colorize:before { content: "\e694"; }
.#{$md-prefix}-compare:before { content: "\e696"; }
.#{$md-prefix}-control-point:before { content: "\e69c"; }
.#{$md-prefix}-control-point-duplicate:before { content: "\e69d"; }
.#{$md-prefix}-crop-3-2:before { content: "\e6a0"; }
.#{$md-prefix}-crop-5-4:before { content: "\e6a1"; }
.#{$md-prefix}-crop-7-5:before { content: "\e6a2"; }
.#{$md-prefix}-crop-16-9:before { content: "\e6a3"; }
.#{$md-prefix}-crop:before { content: "\e6a4"; }
.#{$md-prefix}-crop-din:before { content: "\e6a5"; }
.#{$md-prefix}-crop-free:before { content: "\e6a6"; }
.#{$md-prefix}-crop-landscape:before { content: "\e6a7"; }
.#{$md-prefix}-crop-original:before { content: "\e6a8"; }
.#{$md-prefix}-crop-portrait:before { content: "\e6a9"; }
.#{$md-prefix}-crop-square:before { content: "\e6aa"; }
.#{$md-prefix}-dehaze:before { content: "\e6ad"; }
.#{$md-prefix}-details:before { content: "\e6b2"; }
.#{$md-prefix}-edit:before { content: "\e6cc"; }
.#{$md-prefix}-exposure:before { content: "\e6d9"; }
.#{$md-prefix}-exposure-minus-1:before { content: "\e6da"; }
.#{$md-prefix}-exposure-minus-2:before { content: "\e6db"; }
.#{$md-prefix}-exposure-plus-1:before { content: "\e6dc"; }
.#{$md-prefix}-exposure-plus-2:before { content: "\e6dd"; }
.#{$md-prefix}-exposure-zero:before { content: "\e6de"; }
.#{$md-prefix}-filter-1:before { content: "\e6e7"; }
.#{$md-prefix}-filter-2:before { content: "\e6e8"; }
.#{$md-prefix}-filter-3:before { content: "\e6e9"; }
.#{$md-prefix}-filter-4:before { content: "\e6ea"; }
.#{$md-prefix}-filter-5:before { content: "\e6eb"; }
.#{$md-prefix}-filter-6:before { content: "\e6ec"; }
.#{$md-prefix}-filter-7:before { content: "\e6ed"; }
.#{$md-prefix}-filter-8:before { content: "\e6ee"; }
.#{$md-prefix}-filter-9:before { content: "\e6ef"; }
.#{$md-prefix}-filter-9-plus:before { content: "\e6f0"; }
.#{$md-prefix}-filter-b-and-w:before { content: "\e6f2"; }
.#{$md-prefix}-filter-center-focus:before { content: "\e6f3"; }
.#{$md-prefix}-filter-drama:before { content: "\e6f4"; }
.#{$md-prefix}-filter-frames:before { content: "\e6f5"; }
.#{$md-prefix}-filter-hdr:before { content: "\e6f6"; }
.#{$md-prefix}-filter-none:before { content: "\e6f8"; }
.#{$md-prefix}-filter-tilt-shift:before { content: "\e6f9"; }
.#{$md-prefix}-filter-vintage:before { content: "\e6fa"; }
.#{$md-prefix}-flare:before { content: "\e6fe"; }
.#{$md-prefix}-flash-auto:before { content: "\e6ff"; }
.#{$md-prefix}-flash-off:before { content: "\e700"; }
.#{$md-prefix}-flash-on:before { content: "\e701"; }
.#{$md-prefix}-flip:before { content: "\e703"; }
.#{$md-prefix}-gradient:before { content: "\e72d"; }
.#{$md-prefix}-grain:before { content: "\e72e"; }
.#{$md-prefix}-grid-off:before { content: "\e72f"; }
.#{$md-prefix}-grid-on:before { content: "\e730"; }
.#{$md-prefix}-hdr-off:before { content: "\e734"; }
.#{$md-prefix}-hdr-on:before { content: "\e735"; }
.#{$md-prefix}-hdr-strong:before { content: "\e736"; }
.#{$md-prefix}-hdr-weak:before { content: "\e737"; }
.#{$md-prefix}-healing:before { content: "\e73a"; }
.#{$md-prefix}-image:before { content: "\e743"; }
.#{$md-prefix}-image-aspect-ratio:before { content: "\e744"; }
.#{$md-prefix}-iso:before { content: "\e754"; }
.#{$md-prefix}-landscape:before { content: "\e764"; }
.#{$md-prefix}-leak-add:before { content: "\e76d"; }
.#{$md-prefix}-leak-remove:before { content: "\e76e"; }
.#{$md-prefix}-lens:before { content: "\e76f"; }
.#{$md-prefix}-looks-3:before { content: "\e799"; }
.#{$md-prefix}-looks-4:before { content: "\e79a"; }
.#{$md-prefix}-looks-5:before { content: "\e79b"; }
.#{$md-prefix}-looks-6:before { content: "\e79c"; }
.#{$md-prefix}-looks:before { content: "\e79d"; }
.#{$md-prefix}-looks-one:before { content: "\e79e"; }
.#{$md-prefix}-looks-two:before { content: "\e79f"; }
.#{$md-prefix}-loupe:before { content: "\e7a1"; }
.#{$md-prefix}-movie-creation:before { content: "\e7b8"; }
.#{$md-prefix}-nature:before { content: "\e7be"; }
.#{$md-prefix}-nature-people:before { content: "\e7bf"; }
.#{$md-prefix}-navigate-before:before { content: "\e7c0"; }
.#{$md-prefix}-navigate-next:before { content: "\e7c1"; }
.#{$md-prefix}-palette:before { content: "\e7d7"; }
.#{$md-prefix}-panorama:before { content: "\e7d8"; }
.#{$md-prefix}-panorama-fisheye:before { content: "\e7d9"; }
.#{$md-prefix}-panorama-horizontal:before { content: "\e7da"; }
.#{$md-prefix}-panorama-vertical:before { content: "\e7db"; }
.#{$md-prefix}-panorama-wide-angle:before { content: "\e7dc"; }
.#{$md-prefix}-photo:before { content: "\e7fa"; }
.#{$md-prefix}-photo-album:before { content: "\e7fb"; }
.#{$md-prefix}-photo-camera:before { content: "\e7fc"; }
.#{$md-prefix}-photo-library:before { content: "\e7fd"; }
.#{$md-prefix}-portrait:before { content: "\e80c"; }
.#{$md-prefix}-remove-red-eye:before { content: "\e822"; }
.#{$md-prefix}-rotate-left:before { content: "\e82e"; }
.#{$md-prefix}-rotate-right:before { content: "\e82f"; }
.#{$md-prefix}-slideshow:before { content: "\e86d"; }
.#{$md-prefix}-straighten:before { content: "\e880"; }
.#{$md-prefix}-style:before { content: "\e881"; }
.#{$md-prefix}-switch-camera:before { content: "\e889"; }
.#{$md-prefix}-switch-video:before { content: "\e88a"; }
.#{$md-prefix}-tag-faces:before { content: "\e895"; }
.#{$md-prefix}-texture:before { content: "\e89a"; }
.#{$md-prefix}-timelapse:before { content: "\e8a0"; }
.#{$md-prefix}-timer-3:before { content: "\e8a1"; }
.#{$md-prefix}-timer-10:before { content: "\e8a2"; }
.#{$md-prefix}-timer:before { content: "\e8a3"; }
.#{$md-prefix}-timer-auto:before { content: "\e8a4"; }
.#{$md-prefix}-timer-off:before { content: "\e8a5"; }
.#{$md-prefix}-tonality:before { content: "\e8a8"; }
.#{$md-prefix}-transform:before { content: "\e8ab"; }
.#{$md-prefix}-tune:before { content: "\e8b0"; }
.#{$md-prefix}-wb-auto:before { content: "\e8da"; }
.#{$md-prefix}-wb-cloudy:before { content: "\e8db"; }
.#{$md-prefix}-wb-incandescent:before { content: "\e8dc"; }
.#{$md-prefix}-wb-irradescent:before { content: "\e8dd"; }
.#{$md-prefix}-wb-sunny:before { content: "\e8de"; }