.#{$md-prefix}-beenhere:before { content: "\e645"; }
.#{$md-prefix}-directions:before { content: "\e6b7"; }
.#{$md-prefix}-directions-bike:before { content: "\e6b8"; }
.#{$md-prefix}-directions-bus:before { content: "\e6b9"; }
.#{$md-prefix}-directions-car:before { content: "\e6ba"; }
.#{$md-prefix}-directions-ferry:before { content: "\e6bb"; }
.#{$md-prefix}-directions-subway:before { content: "\e6bc"; }
.#{$md-prefix}-directions-train:before { content: "\e6bd"; }
.#{$md-prefix}-directions-transit:before { content: "\e6be"; }
.#{$md-prefix}-directions-walk:before { content: "\e6bf"; }
.#{$md-prefix}-flight:before { content: "\e702"; }
.#{$md-prefix}-hotel:before { content: "\e741"; }
.#{$md-prefix}-layers:before { content: "\e76b"; }
.#{$md-prefix}-layers-clear:before { content: "\e76c"; }
.#{$md-prefix}-local-airport:before { content: "\e773"; }
.#{$md-prefix}-local-atm:before { content: "\e774"; }
.#{$md-prefix}-local-attraction:before { content: "\e775"; }
.#{$md-prefix}-local-bar:before { content: "\e776"; }
.#{$md-prefix}-local-cafe:before { content: "\e777"; }
.#{$md-prefix}-local-car-wash:before { content: "\e778"; }
.#{$md-prefix}-local-convenience-store:before { content: "\e779"; }
.#{$md-prefix}-local-drink:before { content: "\e77a"; }
.#{$md-prefix}-local-florist:before { content: "\e77b"; }
.#{$md-prefix}-local-gas-station:before { content: "\e77c"; }
.#{$md-prefix}-local-grocery-store:before { content: "\e77d"; }
.#{$md-prefix}-local-hospital:before { content: "\e77e"; }
.#{$md-prefix}-local-hotel:before { content: "\e77f"; }
.#{$md-prefix}-local-laundry-service:before { content: "\e780"; }
.#{$md-prefix}-local-library:before { content: "\e781"; }
.#{$md-prefix}-local-mall:before { content: "\e782"; }
.#{$md-prefix}-local-movies:before { content: "\e783"; }
.#{$md-prefix}-local-offer:before { content: "\e784"; }
.#{$md-prefix}-local-parking:before { content: "\e785"; }
.#{$md-prefix}-local-pharmacy:before { content: "\e786"; }
.#{$md-prefix}-local-phone:before { content: "\e787"; }
.#{$md-prefix}-local-pizza:before { content: "\e788"; }
.#{$md-prefix}-local-play:before { content: "\e789"; }
.#{$md-prefix}-local-post-office:before { content: "\e78a"; }
.#{$md-prefix}-local-print-shop:before { content: "\e78b"; }
.#{$md-prefix}-local-restaurant:before { content: "\e78c"; }
.#{$md-prefix}-local-see:before { content: "\e78d"; }
.#{$md-prefix}-local-shipping:before { content: "\e78e"; }
.#{$md-prefix}-local-taxi:before { content: "\e78f"; }
.#{$md-prefix}-location-history:before { content: "\e792"; }
.#{$md-prefix}-map:before { content: "\e7a4"; }
.#{$md-prefix}-my-location:before { content: "\e7bd"; }
.#{$md-prefix}-navigation:before { content: "\e7c2"; }
.#{$md-prefix}-pin-drop:before { content: "\e7ff"; }
.#{$md-prefix}-place:before { content: "\e800"; }
.#{$md-prefix}-rate-review:before { content: "\e819"; }
.#{$md-prefix}-restaurant-menu:before { content: "\e82a"; }
.#{$md-prefix}-satellite:before { content: "\e830"; }
.#{$md-prefix}-store-mall-directory:before { content: "\e87f"; }
.#{$md-prefix}-terrain:before { content: "\e897"; }
.#{$md-prefix}-traffic:before { content: "\e8aa"; }