.#{$md-prefix}-apps:before { content: "\e61c"; }
.#{$md-prefix}-arrow-back:before { content: "\e61e"; }
.#{$md-prefix}-arrow-drop-down:before { content: "\e61f"; }
.#{$md-prefix}-arrow-drop-down-circle:before { content: "\e620"; }
.#{$md-prefix}-arrow-drop-up:before { content: "\e621"; }
.#{$md-prefix}-arrow-forward:before { content: "\e622"; }
.#{$md-prefix}-cancel:before { content: "\e67b"; }
.#{$md-prefix}-check:before { content: "\e681"; }
.#{$md-prefix}-chevron-left:before { content: "\e684"; }
.#{$md-prefix}-chevron-right:before { content: "\e685"; }
.#{$md-prefix}-close:before { content: "\e689"; }
.#{$md-prefix}-expand-less:before { content: "\e6d5"; }
.#{$md-prefix}-expand-more:before { content: "\e6d6"; }
.#{$md-prefix}-fullscreen:before { content: "\e722"; }
.#{$md-prefix}-fullscreen-exit:before { content: "\e723"; }
.#{$md-prefix}-menu:before { content: "\e7a8"; }
.#{$md-prefix}-more-horiz:before { content: "\e7b4"; }
.#{$md-prefix}-more-vert:before { content: "\e7b5"; }
.#{$md-prefix}-refresh:before { content: "\e81e"; }
.#{$md-prefix}-unfold-less:before { content: "\e8b5"; }
.#{$md-prefix}-unfold-more:before { content: "\e8b6"; }