.#{$md-prefix}-adb:before { content: "\e60a"; }
.#{$md-prefix}-bluetooth-audio:before { content: "\e648"; }
.#{$md-prefix}-disc-full:before { content: "\e6c0"; }
.#{$md-prefix}-dnd-forwardslash:before { content: "\e6c1"; }
.#{$md-prefix}-dnd-on:before { content: "\e6c2"; }
.#{$md-prefix}-drive-eta:before { content: "\e6ca"; }
.#{$md-prefix}-event-available:before { content: "\e6d1"; }
.#{$md-prefix}-event-busy:before { content: "\e6d2"; }
.#{$md-prefix}-event-note:before { content: "\e6d3"; }
.#{$md-prefix}-folder-special:before { content: "\e709"; }
.#{$md-prefix}-mms:before { content: "\e7af"; }
.#{$md-prefix}-more:before { content: "\e7b3"; }
.#{$md-prefix}-network-locked:before { content: "\e7c4"; }
.#{$md-prefix}-phone-bluetooth-speaker:before { content: "\e7f1"; }
.#{$md-prefix}-phone-forwarded:before { content: "\e7f2"; }
.#{$md-prefix}-phone-in-talk:before { content: "\e7f3"; }
.#{$md-prefix}-phone-locked:before { content: "\e7f5"; }
.#{$md-prefix}-phone-missed:before { content: "\e7f6"; }
.#{$md-prefix}-phone-paused:before { content: "\e7f7"; }
.#{$md-prefix}-play-download:before { content: "\e804"; }
.#{$md-prefix}-play-install:before { content: "\e805"; }
.#{$md-prefix}-sd-card:before { content: "\e838"; }
.#{$md-prefix}-sim-card-alert:before { content: "\e86a"; }
.#{$md-prefix}-sms:before { content: "\e86f"; }
.#{$md-prefix}-sms-failed:before { content: "\e870"; }
.#{$md-prefix}-sync:before { content: "\e88b"; }
.#{$md-prefix}-sync-disabled:before { content: "\e88c"; }
.#{$md-prefix}-sync-problem:before { content: "\e88d"; }
.#{$md-prefix}-system-update:before { content: "\e88e"; }
.#{$md-prefix}-tap-and-play:before { content: "\e896"; }
.#{$md-prefix}-time-to-leave:before { content: "\e89f"; }
.#{$md-prefix}-vibration:before { content: "\e8bc"; }
.#{$md-prefix}-voice-chat:before { content: "\e8cd"; }
.#{$md-prefix}-vpn-lock:before { content: "\e8d4"; }