.#{$md-prefix}-cake:before { content: "\e66e"; }
.#{$md-prefix}-domain:before { content: "\e6c6"; }
.#{$md-prefix}-group:before { content: "\e731"; }
.#{$md-prefix}-group-add:before { content: "\e732"; }
.#{$md-prefix}-location-city:before { content: "\e790"; }
.#{$md-prefix}-mood:before { content: "\e7b2"; }
.#{$md-prefix}-notifications:before { content: "\e7cb"; }
.#{$md-prefix}-notifications-none:before { content: "\e7cc"; }
.#{$md-prefix}-notifications-off:before { content: "\e7cd"; }
.#{$md-prefix}-notifications-on:before { content: "\e7ce"; }
.#{$md-prefix}-notifications-paused:before { content: "\e7cf"; }
.#{$md-prefix}-pages:before { content: "\e7d5"; }
.#{$md-prefix}-party-mode:before { content: "\e7dd"; }
.#{$md-prefix}-people:before { content: "\e7e2"; }
.#{$md-prefix}-people-outline:before { content: "\e7e3"; }
.#{$md-prefix}-person:before { content: "\e7ec"; }
.#{$md-prefix}-person-add:before { content: "\e7ed"; }
.#{$md-prefix}-person-outline:before { content: "\e7ee"; }
.#{$md-prefix}-plus-one:before { content: "\e808"; }
.#{$md-prefix}-poll:before { content: "\e809"; }
.#{$md-prefix}-public:before { content: "\e80e"; }
.#{$md-prefix}-school:before { content: "\e833"; }
.#{$md-prefix}-share:before { content: "\e850"; }
.#{$md-prefix}-whatshot:before { content: "\e8e0"; }